@font-face {
  font-family: 'karlabold';
  src: url('../fonts/karla-bold-webfont.woff2') format('woff2'),
       url('../fonts/karla-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'rubik';
  src: url('../fonts/rubik-v12-latin-300.woff2') format('woff2'),
       url('../fonts/rubik-v12-latin-300.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

:root {
  --blue: #00adb5;
  --neonBlue: #00fff5;
  --darkBlue: #0e1115;
  --gray: #222831;
  --white: rgb(230, 230, 230);
  --textShadowColor: rgb(226 59 181);
  --textShadowHoverColor: rgb(206 0 255);
  --lineHeight: 1.4;
}

::-moz-selection { 
  background-color: var(--neonBlue);
  color: var(--gray);
}
::selection { 
  background-color: var(--neonBlue);
  color: var(--gray); 
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: var(--gray);
  color: var(--white);
  font-size: 1.5em;
  font-family: 'rubik', sans-serif;
  overflow-y: scroll;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.MainContent {
  width: 94vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: 480px) {
  .MainContent {
    width: 90vw;
  }
}

h1,
h2,
h3 {
  font-family: 'karlabold';
  letter-spacing: -.05em;
}

a {
  color: var(--blue);
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}

header {
  display: flex;
}

.Logo {
  display: inline-block;
  margin: 2em auto;
  max-width: fit-content;
  transform: scale(1) skew(8deg, -4deg);
  transition: transform .25s;
  will-change: transform;
  backface-visibility: hidden;
  color: inherit;
}

@media (min-width: 480px) {
  .Logo {
    margin: 2em 0;
    margin-left: 6px;
  }
}

.Logo:hover,
.Logo:focus {
  transform: scale(1.1) skew(5deg, -4deg);
}

.Logo h1 {
  margin: 0 0 0 -2px;
  color: var(--blue);
  line-height: .7em;
  text-transform: uppercase;
  font-style: italic;
}
.Logo-perfText,
.Logo-frontendText {
  transition: text-shadow .25s;
}
.Logo-perfText {
  display: block;
  color: var(--white);
  margin-left: -8px;
  margin-top: 1px;
  text-shadow: -1px 1px 2px var(--gray),
        -2px 2px 2px var(--textShadowColor),
        -3px 3px 2px var(--textShadowColor),
        -4px 4px 2px var(--textShadowColor);
}
.Logo-frontendText {
  text-shadow: -1px 1px 2px var(--gray),
        -2px 2px 2px var(--textShadowColor),
        -3px 3px 2px var(--textShadowColor),
        -4px 4px 2px var(--textShadowColor);
}

.Logo:hover .Logo-frontendText,
.Logo:hover .Logo-perfText {
  text-shadow: -1px 1px 2px var(--gray),
        -2px 2px 2px var(--textShadowHoverColor),
        -3px 3px 2px var(--textShadowHoverColor),
        -4px 4px 2px var(--textShadowHoverColor);
}

.Footer-icon {
  fill: currentColor;
}

.BlogPostList a {
  display: inline-flex;
  flex-direction: column;
  padding: 7px;
  border: 2px dashed transparent;
  border-radius: 4px;
  transition: border-color .25s;
}

.Logo:hover,
.Logo:focus,
.BlogPostList a:hover,
.BlogPostList a:focus {
  text-decoration: none;
  border-color: var(--blue);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto 4em;
}
main li {
  line-height: var(--lineHeight);
  margin-bottom: .5em;
}
main h1 {
  line-height: 1;
  border-left: 5px solid var(--blue);
  padding-left: 10px;
  display: inline-block;
  margin-bottom: 0;
}
main h1 + p {
  margin: 1em 0 2em;
  font-size: 1rem;
}
main p {
  line-height: var(--lineHeight);
}
strong {
  font-weight: normal;
  color: var(--blue);
}
main a {
  text-decoration: underline;
}
main a:hover,
main a:focus {
  text-decoration: none;
}
main code {
  /* background: #1b1918; */
  background: var(--darkBlue);
  color: var(--blue);
  padding: 0 0.1em;
  border-radius: 8px;
  display: inline-flex;
}

.BlogPostList {
  padding: 0;
  list-style: none;
  margin: 0;
  align-self: center;
}
.BlogPostList a {
  text-decoration: none;
}

.BlogPostList li {
  margin-bottom: 1.5em;
}
.BlogPostList h2 {
  margin: 0;
}

.BlogPostList p {
  color: var(--white);
  margin: 0;
}

footer {
  text-align: center;
  font-size: .7em;
  margin-top: auto;
  background-color: var(--darkBlue);
}

footer p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer-link {
  margin: 0 .25em;
}
.Footer-link--icon {
  color: var(--white);
  margin-left: .5em;
  transition: color .25s;
}

.Footer-link--icon:hover,
.Footer-link--icon:focus {
  color: var(--blue);
}

blockquote {
  margin: 0 2em;
}
blockquote p {
  border-left: 4px solid var(--blue);
  padding-left: 10px;
}

pre {
  display: inline-flex;
  margin: 1em 0;
  max-width: 100%;
}
.hljs-comment,
.hljs-quote {
  color: #9c9491;
}

/* Atelier-Forest Red */
.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #f22c40;
}

/* Atelier-Forest Orange */
.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #df5320;
}

/* Atelier-Forest Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: #7b9726;
}

/* Atelier-Forest Blue */
.hljs-title,
.hljs-section {
  color: #407ee7;
}

/* Atelier-Forest Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #6666ea;
}

.hljs {
  display: block;
  overflow-x: auto;
  /* background: #1b1918; */
  background: var(--darkBlue);
  color: #a8a19f;
  padding: 0.5em;
  border-radius: 8px;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}