<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Steve Dennett Blog</title>
  <link rel="stylesheet" type="text/css" href="assets/styles/main.css" />
</head>

<body>
  <header>
    <a class="Logo" href="/">
      <h1>Steve Dennett</h1>
      <p>Frontend Engineer <span>@Wayfair</span></p>
    </a>
  </header>
  <main>
    <ul class="BlogPostList">
      {{body_content_do_not_remove}}
    </ul>
  </main>
</body>

</html>